xml-resources/web-service-references/OrderWebService/wsdl/desktop-fbdk74t_8080/OrderApplication/OrderWebService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://dtu.dk/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://dtu.dk/" name="OrderWebService">
<types>
<xsd:schema>
<xsd:import namespace="http://dtu.dk/" schemaLocation="http://desktop-fbdk74t:8080/OrderApplication/OrderWebService?xsd=1"/>
</xsd:schema>
</types>
<message name="payOrder">
<part name="parameters" element="tns:payOrder"/>
</message>
<message name="orderProduct">
<part name="parameters" element="tns:orderProduct"/>
</message>
<message name="orderProductResponse">
<part name="parameters" element="tns:orderProductResponse"/>
</message>
<message name="getOrderInfo">
<part name="parameters" element="tns:getOrderInfo"/>
</message>
<message name="getOrderInfoResponse">
<part name="parameters" element="tns:getOrderInfoResponse"/>
</message>
<portType name="OrderWebService">
<operation name="payOrder">
<input wsam:Action="http://dtu.dk/OrderWebService/payOrder" message="tns:payOrder"/>
</operation>
<operation name="orderProduct">
<input wsam:Action="http://dtu.dk/OrderWebService/orderProductRequest" message="tns:orderProduct"/>
<output wsam:Action="http://dtu.dk/OrderWebService/orderProductResponse" message="tns:orderProductResponse"/>
</operation>
<operation name="getOrderInfo">
<input wsam:Action="http://dtu.dk/OrderWebService/getOrderInfoRequest" message="tns:getOrderInfo"/>
<output wsam:Action="http://dtu.dk/OrderWebService/getOrderInfoResponse" message="tns:getOrderInfoResponse"/>
</operation>
</portType>
<binding name="OrderWebServicePortBinding" type="tns:OrderWebService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="payOrder">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
</operation>
<operation name="orderProduct">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getOrderInfo">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="OrderWebService">
<port name="OrderWebServicePort" binding="tns:OrderWebServicePortBinding">
<soap:address location="http://desktop-fbdk74t:8080/OrderApplication/OrderWebService"/>
</port>
</service>
</definitions>