xml-resources/web-service-references/OrderWebService/wsdl/desktop-fbdk74t_8080/OrderApplication/OrderWebService.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><xs:schema xmlns:tns="http://dtu.dk/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://dtu.dk/">

<xs:element name="getOrderInfo" type="tns:getOrderInfo"/>

<xs:element name="getOrderInfoResponse" type="tns:getOrderInfoResponse"/>

<xs:element name="orderProduct" type="tns:orderProduct"/>

<xs:element name="orderProductResponse" type="tns:orderProductResponse"/>

<xs:element name="payOrder" type="tns:payOrder"/>

<xs:complexType name="getOrderInfo">
<xs:sequence>
<xs:element name="orderNumber" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getOrderInfoResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="payOrder">
<xs:sequence>
<xs:element name="ccNumber" type="xs:string" minOccurs="0"/>
<xs:element name="orderNumber" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="orderProduct">
<xs:sequence>
<xs:element name="orderNumber" type="xs:string" minOccurs="0"/>
<xs:element name="customerName" type="xs:string" minOccurs="0"/>
<xs:element name="amount" type="xs:int"/>
<xs:element name="productName" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="orderProductResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:schema>